@model IEnumerable<Prova1_MateusGadotti.Models.Aluno>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>

@if (@Model.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Faixa</th>
                <th>TipoDeAssociacao</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alunos in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@alunos.Nome, "Details", new { alunos.Id })</td>
                    <td>@alunos.CPF</td>
                    <td>@alunos.Faixa.Nome</td>
                    <td>@alunos.TipoDeAssociacao.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não tem cliente ainda!</p>
}